[Unit]
Description=Boggler instance

After=network.target

StartLimitIntervalSec=0

[Service]

Type=simple

Restart=always

RestartSec=30

User=<user who manages the project on the host>

ExecStartPre=

ExecStart=<composer runtime path> -d <project repo path> run-script start

ExecStop=

ExecReload=

[Install]

WantedBy=multi-user.target
